<form class="form-signin h-75 w-25 mt-3" [formGroup]="postFormGroup">
  <h1 class="h3 mb-3 fw-normal">Account</h1>

  <div class="form-floating mt-3">
    <input formControlName="firstname"  name="firstname" type="text" class="form-control">
    <label for="floatingInput">Firstname</label>
  </div>
  <div class="form-floating mt-3">
    <input formControlName="lastname"  name="lastname" type="text" class="form-control">
    <label for="floatingInput">Lastname</label>
  </div>
  <div class="col-8 mt-3">
    <label for="customFile" class="form-label">Upload profile image</label>
    <input formControlName="image" type="file" class="" id="customFile">
  </div>
  <div class="form-floating mt-3">
    <input formControlName="location"  name="location" type="text" class="form-control">
    <label for="floatingInput">Location</label>
  </div>
  <button (click)="onSubmit()" class="w-100 btn btn-primary mt-3" onsubmit="" type="submit" [disabled]="!postFormGroup.valid">
    Save changes</button>
</form>
