<form class="form-signin h-75 w-25 mt-3" [formGroup]="passwordFormGroup">
  <h1 class="h3 mb-3 fw-normal">Here you can change your password</h1>

  <div class="form-floating mt-3">
    <input formControlName="currentPassword" matInput name="current-password" type="password" class="form-control"
      ngModel required>
    <label for="floatingInput">Current password</label>
  </div>
  <div formGroupName="newPassword">
    <div class="form-floating mt-3">
      <input formControlName="password" name="new-password" type="new-password" class="form-control" required>
      <label for="floatingPassword">New password</label>
    </div>
    <div class="form-floating mt-3">
      <input formControlName="cpPassword" name="new-password" type="new-password" class="form-control" required>
      <label for="floatingPassword">Repeat New password</label>
    </div>
  </div>
  <button class="w-100 btn btn-primary mt-3" type="submit" [disabled]="!passwordFormGroup.valid" (click)="submit()">
    Change password</button>
</form>
