<div class=" pr-0 pl-0 h-100 d-flex flex-column">
  <header class="justify-content-end container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark py-4">
      <div class="container">
        <a class="navbar-brand" href="#">Carousel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul *ngIf="loginService.getUser()" class="navbar-nav mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/user-panel">
                {{loginService.getUser().firstname}}
                {{loginService.getUser().lastname}}
              </a>
          </ul>
          <ul class="navbar-nav mb-2 mb-md-0">
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" routerLink="/discover">Discover</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/post/skill">Post a skill</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/post/need">Post a need</a>
            </li>
          </ul>
          <ul *ngIf="!loginService.isLoggedIn()" class="nav navbar-nav ms-auto">
            <li class="nav-item"><a id="signup" class="nav-link" routerLink="/signup"><span
                  class="glyphicon glyphicon-user"></span>
                Sign Up</a>
            </li>
            <li class="nav-item"><a id="login" class="nav-link" routerLink="/login"><span
                  class="glyphicon glyphicon-log-in"></span>
                Login</a>
            </li>
          </ul>
          <ul *ngIf="loginService.isLoggedIn()" class="nav navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/login" (click)='loginService.logout()'><span
                  class="glyphicon glyphicon-log-in"></span> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- START MAIN CONTENT -->
  <router-outlet></router-outlet>
  <!-- END MAIN CONTENT -->

  <!-- FOOTER -->
  <footer class="d-flex justify-content-end mt-auto bg-dark text-center text-white ">
    <div class="container">
      <!-- Section: Social media -->
      <section>
        <a href="#!"><i style="font-size: 3rem; " class="bi bi-facebook px-4"></i></a>

        <!-- Twitter -->
        <a href="#!"><i style="font-size: 3rem;" class="bi bi-twitter px-4"></i></a>

        <!-- Google -->
        <a href="#!"><i style="font-size: 3rem; color: black;" class="bi bi-google px-4"></i></a>

        <!-- Instagram -->
        <a href="#!"><i style="font-size: 3rem; color: black;" class="bi bi-instagram px-4"></i></a>

      </section>

      <!-- About us -->
      <section class="d-flex justify-content-around  mt-5">
        <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        <p> <a href="#">About us</a></p>
        <p> <a href="#">Contact us</a></p>
        <p class="float-end"><a href="#">Back to top</a></p>
      </section>
    </div>
  </footer>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
