<div class="container">
  <ng-container *ngIf="posts">
    <h2>My wish posts</h2>
    <div class="row">
      <div class="card-group">
      <div class=" col-md-3 mb-3" *ngFor="let post of posts">
        <div class="card ">
          <img class="card-img" src="{{post.category.image}}" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.description}}</p>
            <p class="card-text">{{post.details}}</p>
          </div>
          <div class="card-body">
            <img width="20px" height="20px" src="../../../assets/images/image-1.jpg" alt="">
            <span> {{post.author.firstname}} {{post.author.lastname}}</span>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </ng-container>
</div>
